.about-parent {
    margin: 1rem;
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
}

.about-child {
    flex: 1;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    max-width: 85%;
    background-color: var(--backgroundwords);
    padding: 1rem;
    border-radius: var(--border-radius);
    text-align: center; 
}


.about-child img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto; 
    border-radius: var(--border-radius);
    box-shadow: var(--copy-lighter);
}

.about-photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(clamp(80px, 10vw, 110px), 1fr)); 
    gap: 2rem;
    
    /* Center the entire grid */
    justify-items: center;   
    justify-content: center;
    align-content: center;
    margin: 0 auto;  
    
    max-width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    background-color: var(--backgroundwords);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.gallery-photo{
    width: clamp(80px, 10vw, 110px); 
    height: clamp(80px, 10vw, 100px); 
    object-fit: cover; 
    border-radius: var(--border-radius); 
}


.about-line {
    width: 100%;
    border: none; 
    height: 2px; 
    background-color: var(--border);
  }

/* Responsive Design */
@media (max-width: 200px) {
    .about-parent {
        flex-direction: column;
        align-items: center;
    }

    .about-child {
        max-width: 100%; 
        text-align: center; 
}
}

 /* Responsive behavior */
 /*@media screen and (max-width: 400px) {
    .about-photo-grid {
        display: none;
    }
  }*/
