/* [project]/src/app/projects/projects.css [app-client] (css) */
.projects {
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  width: 100%;
  max-width: 1000px;
  margin-top: 25px;
  padding: 0;
  display: flex;
}

.projects-header {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  position: relative;
}

.project-grid {
  padding: 1rem;
}

.class-select-show {
  background: var(--foreground);
  flex-direction: column;
  width: fit-content;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.class-select-hide {
  background: var(--foreground);
  width: fit-content;
}

.page-line {
  width: 100%;
}

.project-grid {
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  display: flex;
}

.dropdown-container {
  margin-top: 10px;
  display: inline-block;
  position: relative;
}

.dropdown-button {
  background: var(--foreground);
  color: var(--copy);
  cursor: pointer;
  border-radius: var(--border-radius);
  border: none;
  padding: 10px 16px;
  font-size: 1rem;
  transition: all .2s ease-in-out;
}

.dropdown-menu {
  background: var(--foreground);
  border-radius: var(--border-radius);
  z-index: 100;
  flex-direction: column;
  min-width: 200px;
  padding: 8px 0;
  display: flex;
  position: absolute;
  top: 45px;
  left: 0;
  box-shadow: 0 4px 10px #00000026;
}

.dropdown-item {
  color: var(--copy);
  text-align: left;
  cursor: pointer;
  background: none;
  border: none;
  padding: 10px 15px;
}

.dropdown-item:hover {
  background: var(--primary-light);
  color: var(--foreground);
}

.class-select-container {
  z-index: 3;
  width: 300px;
  max-height: 200px;
  color: var(--copy-lighter);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  flex-direction: column;
  display: flex;
  position: relative;
}

.selected-class {
  background: var(--foreground);
  border: 1px solid var(--primary);
  text-align: center;
  cursor: pointer;
  z-index: 10;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
}

.project-main {
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

.project-grid {
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  display: flex;
}

.project-child {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
}

.project-child img {
  border-radius: var(--border-radius);
  object-fit: cover;
  width: clamp(275px, 60vw, 350px);
  height: auto;
}

.project-child p {
  text-align: center;
}

.project-parent {
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  display: flex;
}

.project-child-with-picture {
  width: 45%;
  height: auto;
}

.project-child-full-screen {
  width: 100%;
  height: auto;
}

@media (max-width: 850px) {
  .project-parent {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    display: flex;
  }

  .project-child {
    width: 95%;
  }
}

/* [project]/node_modules/react-pdf/dist/esm/Page/AnnotationLayer.css [app-client] (css) */
:root {
  --react-pdf-annotation-layer: 1;
  --annotation-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --input-focus-border-color: Highlight;
  --input-focus-outline: 1px solid Canvas;
  --input-unfocused-border-color: transparent;
  --input-disabled-border-color: transparent;
  --input-hover-border-color: black;
  --link-outline: none;
}

@media screen and (forced-colors: active) {
  :root {
    --input-focus-border-color: CanvasText;
    --input-unfocused-border-color: ActiveText;
    --input-disabled-border-color: GrayText;
    --input-hover-border-color: Highlight;
    --link-outline: 1.5px solid LinkText;
  }

  .annotationLayer .textWidgetAnnotation :is(input, textarea):required, .annotationLayer .choiceWidgetAnnotation select:required, .annotationLayer .buttonWidgetAnnotation:is(.checkBox, .radioButton) input:required {
    outline: 1.5px solid selecteditem;
  }

  .annotationLayer .linkAnnotation:hover {
    -webkit-backdrop-filter: invert();
    backdrop-filter: invert();
  }
}

.annotationLayer {
  pointer-events: none;
  transform-origin: 0 0;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
}

.annotationLayer[data-main-rotation="90"] .norotate {
  transform: rotate(270deg)translateX(-100%);
}

.annotationLayer[data-main-rotation="180"] .norotate {
  transform: rotate(180deg)translate(-100%, -100%);
}

.annotationLayer[data-main-rotation="270"] .norotate {
  transform: rotate(90deg)translateY(-100%);
}

.annotationLayer canvas {
  width: 100%;
  height: 100%;
  position: absolute;
}

.annotationLayer section {
  text-align: initial;
  pointer-events: auto;
  box-sizing: border-box;
  transform-origin: 0 0;
  margin: 0;
  position: absolute;
}

.annotationLayer .linkAnnotation {
  outline: var(--link-outline);
}

.textLayer.selecting ~ .annotationLayer section {
  pointer-events: none;
}

.annotationLayer :is(.linkAnnotation, .buttonWidgetAnnotation.pushButton) > a {
  width: 100%;
  height: 100%;
  font-size: 1em;
  position: absolute;
  top: 0;
  left: 0;
}

.annotationLayer :is(.linkAnnotation, .buttonWidgetAnnotation.pushButton) > a:hover {
  opacity: .2;
  background: #ff0;
  box-shadow: 0 2px 10px #ff0;
}

.annotationLayer .textAnnotation img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.annotationLayer .textWidgetAnnotation :is(input, textarea), .annotationLayer .choiceWidgetAnnotation select, .annotationLayer .buttonWidgetAnnotation:is(.checkBox, .radioButton) input {
  background-image: var(--annotation-unfocused-field-background);
  border: 2px solid var(--input-unfocused-border-color);
  box-sizing: border-box;
  font: calc(9px * var(--scale-factor)) sans-serif;
  vertical-align: top;
  width: 100%;
  height: 100%;
  margin: 0;
}

.annotationLayer .textWidgetAnnotation :is(input, textarea):required, .annotationLayer .choiceWidgetAnnotation select:required, .annotationLayer .buttonWidgetAnnotation:is(.checkBox, .radioButton) input:required {
  outline: 1.5px solid red;
}

.annotationLayer .choiceWidgetAnnotation select option {
  padding: 0;
}

.annotationLayer .buttonWidgetAnnotation.radioButton input {
  border-radius: 50%;
}

.annotationLayer .textWidgetAnnotation textarea {
  resize: none;
}

.annotationLayer .textWidgetAnnotation :is(input, textarea)[disabled], .annotationLayer .choiceWidgetAnnotation select[disabled], .annotationLayer .buttonWidgetAnnotation:is(.checkBox, .radioButton) input[disabled] {
  border: 2px solid var(--input-disabled-border-color);
  cursor: not-allowed;
  background: none;
}

.annotationLayer .textWidgetAnnotation :is(input, textarea):hover, .annotationLayer .choiceWidgetAnnotation select:hover, .annotationLayer .buttonWidgetAnnotation:is(.checkBox, .radioButton) input:hover {
  border: 2px solid var(--input-hover-border-color);
}

.annotationLayer .textWidgetAnnotation :is(input, textarea):hover, .annotationLayer .choiceWidgetAnnotation select:hover, .annotationLayer .buttonWidgetAnnotation.checkBox input:hover {
  border-radius: 2px;
}

.annotationLayer .textWidgetAnnotation :is(input, textarea):focus, .annotationLayer .choiceWidgetAnnotation select:focus {
  border: 2px solid var(--input-focus-border-color);
  outline: var(--input-focus-outline);
  background: none;
  border-radius: 2px;
}

.annotationLayer .buttonWidgetAnnotation:is(.checkBox, .radioButton) :focus {
  background-color: #0000;
  background-image: none;
}

.annotationLayer .buttonWidgetAnnotation.checkBox :focus {
  border: 2px solid var(--input-focus-border-color);
  outline: var(--input-focus-outline);
  border-radius: 2px;
}

.annotationLayer .buttonWidgetAnnotation.radioButton :focus {
  border: 2px solid var(--input-focus-border-color);
  outline: var(--input-focus-outline);
}

.annotationLayer .buttonWidgetAnnotation.checkBox input:checked:before, .annotationLayer .buttonWidgetAnnotation.checkBox input:checked:after, .annotationLayer .buttonWidgetAnnotation.radioButton input:checked:before {
  content: "";
  background-color: canvastext;
  display: block;
  position: absolute;
}

.annotationLayer .buttonWidgetAnnotation.checkBox input:checked:before, .annotationLayer .buttonWidgetAnnotation.checkBox input:checked:after {
  width: 1px;
  height: 80%;
  left: 45%;
}

.annotationLayer .buttonWidgetAnnotation.checkBox input:checked:before {
  transform: rotate(45deg);
}

.annotationLayer .buttonWidgetAnnotation.checkBox input:checked:after {
  transform: rotate(-45deg);
}

.annotationLayer .buttonWidgetAnnotation.radioButton input:checked:before {
  border-radius: 50%;
  width: 50%;
  height: 50%;
  top: 20%;
  left: 30%;
}

.annotationLayer .textWidgetAnnotation input.comb {
  padding-left: 2px;
  padding-right: 0;
  font-family: monospace;
}

.annotationLayer .textWidgetAnnotation input.comb:focus {
  width: 103%;
}

.annotationLayer .buttonWidgetAnnotation:is(.checkBox, .radioButton) input {
  appearance: none;
}

.annotationLayer .popupTriggerArea {
  width: 100%;
  height: 100%;
}

.annotationLayer .fileAttachmentAnnotation .popupTriggerArea {
  position: absolute;
}

.annotationLayer .popupWrapper {
  font-size: calc(9px * var(--scale-factor));
  width: 100%;
  min-width: calc(180px * var(--scale-factor));
  pointer-events: none;
  position: absolute;
}

.annotationLayer .popup {
  max-width: calc(180px * var(--scale-factor));
  box-shadow: 0 calc(2px * var(--scale-factor)) calc(5px * var(--scale-factor)) #888;
  border-radius: calc(2px * var(--scale-factor));
  padding: calc(6px * var(--scale-factor));
  margin-left: calc(5px * var(--scale-factor));
  cursor: pointer;
  font: message-box;
  white-space: normal;
  word-wrap: break-word;
  pointer-events: auto;
  background-color: #ff9;
  position: absolute;
}

.annotationLayer .popup > * {
  font-size: calc(9px * var(--scale-factor));
}

.annotationLayer .popup h1 {
  display: inline-block;
}

.annotationLayer .popupDate {
  margin-left: calc(5px * var(--scale-factor));
  display: inline-block;
}

.annotationLayer .popupContent {
  margin-top: calc(2px * var(--scale-factor));
  padding-top: calc(2px * var(--scale-factor));
  border-top: 1px solid #333;
}

.annotationLayer .richText > * {
  white-space: pre-wrap;
  font-size: calc(9px * var(--scale-factor));
}

.annotationLayer .highlightAnnotation, .annotationLayer .underlineAnnotation, .annotationLayer .squigglyAnnotation, .annotationLayer .strikeoutAnnotation, .annotationLayer .freeTextAnnotation, .annotationLayer .lineAnnotation svg line, .annotationLayer .squareAnnotation svg rect, .annotationLayer .circleAnnotation svg ellipse, .annotationLayer .polylineAnnotation svg polyline, .annotationLayer .polygonAnnotation svg polygon, .annotationLayer .caretAnnotation, .annotationLayer .inkAnnotation svg polyline, .annotationLayer .stampAnnotation, .annotationLayer .fileAttachmentAnnotation {
  cursor: pointer;
}

.annotationLayer section svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.annotationLayer .annotationTextContent {
  opacity: 0;
  color: #0000;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
}

.annotationLayer .annotationTextContent span {
  width: 100%;
  display: inline-block;
}

/* [project]/node_modules/react-pdf/dist/esm/Page/TextLayer.css [app-client] (css) */
:root {
  --react-pdf-text-layer: 1;
  --highlight-bg-color: #b400aa;
  --highlight-selected-bg-color: #006400;
}

@media screen and (forced-colors: active) {
  :root {
    --highlight-bg-color: Highlight;
    --highlight-selected-bg-color: ButtonText;
  }
}

[data-main-rotation="90"] {
  transform: rotate(90deg)translateY(-100%);
}

[data-main-rotation="180"] {
  transform: rotate(180deg)translate(-100%, -100%);
}

[data-main-rotation="270"] {
  transform: rotate(270deg)translateX(-100%);
}

.textLayer {
  text-align: initial;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  forced-color-adjust: none;
  transform-origin: 0 0;
  z-index: 2;
  line-height: 1;
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.textLayer :is(span, br) {
  color: #0000;
  white-space: pre;
  cursor: text;
  transform-origin: 0 0;
  margin: 0;
  position: absolute;
}

.textLayer span.markedContent {
  height: 0;
  top: 0;
}

.textLayer .highlight {
  background-color: var(--highlight-bg-color);
  border-radius: 4px;
  margin: -1px;
  padding: 1px;
}

.textLayer .highlight.appended {
  position: initial;
}

.textLayer .highlight.begin {
  border-radius: 4px 0 0 4px;
}

.textLayer .highlight.end {
  border-radius: 0 4px 4px 0;
}

.textLayer .highlight.middle {
  border-radius: 0;
}

.textLayer .highlight.selected {
  background-color: var(--highlight-selected-bg-color);
}

.textLayer br::selection {
  background: none;
}

.textLayer .endOfContent {
  z-index: -1;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
  display: block;
  position: absolute;
  inset: 100% 0 0;
}

.textLayer.selecting .endOfContent {
  top: 0;
}

.hiddenCanvasElement {
  width: 0;
  height: 0;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

/* [project]/src/app/componentstyles/PDFViewer.css [app-client] (css) */
.pdf {
  -webkit-backdrop-filter: blur(10px);
  background: var(--foreground-blur);
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding-top: 35px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.pdf-header {
  z-index: 15;
  justify-content: flex-end;
  gap: 10px;
  width: 100vw;
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  position: fixed;
  top: 0;
  right: 15px;
}

.pdf-close {
  cursor: pointer;
  color: var(--copy);
  border-radius: var(--border-radius);
  border: 1px solid var(--border);
  box-shadow: var(--box-shadow);
  background: var(--background);
  justify-content: center;
  align-items: center;
  width: 60px;
  padding: .5rem 1rem;
  font-size: 24px;
  display: flex;
}

.pdf-download {
  cursor: pointer;
  color: var(--copy);
  border-radius: var(--border-radius);
  border: 1px solid var(--border);
  box-shadow: var(--box-shadow);
  background: var(--background);
  justify-content: center;
  align-items: center;
  width: 60px;
  padding: .25rem;
  font-size: 24px;
  display: flex;
}

.pdf-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 800px;
  max-height: 90%;
  margin: 0 auto;
  display: flex;
  position: relative;
  overflow: auto;
}

.pdf-container::-webkit-scrollbar {
  display: none;
}

.pdf-container-document {
  border-radius: var(--border-radius);
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: flex;
}

.pdf-container-document div {
  margin-bottom: 1rem;
}

/*# sourceMappingURL=_b2582a51._.css.map*/