/* [project]/src/app/projects/projects.css [app-client] (css) */
.projects {
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  width: 100%;
  max-width: 1000px;
  margin-top: 25px;
  padding: 0;
  display: flex;
}

.projects-header {
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-top: 0;
  padding: 0 1rem;
  display: flex;
  position: relative;
}

.page-line {
  border: none;
  border-top: 2px solid var(--foreground);
  width: 100%;
  margin: 2rem 0;
}

.project-parent {
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  display: flex;
}

.projects-child {
  background-color: var(--backgroundwords);
  border-radius: var(--border-radius);
  text-align: center;
  box-sizing: border-box;
  flex-direction: column;
  flex: 45%;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  display: flex;
}

.projects-child img {
  border-radius: var(--border-radius);
  max-width: 100%;
  height: auto;
  box-shadow: var(--copy-lighter);
  margin: auto;
  display: block;
}

.projects-button {
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  display: flex;
}

@media (max-width: 850px) {
  .project-parent {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .projects-child {
    flex-direction: column;
    flex: 100%;
    max-width: 95%;
  }
}

/* [project]/src/app/componentstyles/pselector.css [app-client] (css) */
.dropdown-container {
  z-index: 3;
  padding: 5px 40px;
  display: inline-block;
  position: absolute;
  top: 100px;
  left: 3.5rem;
  right: 0;
}

@media (max-width: 1500px) {
  .dropdown-container {
    left: 1.5rem;
  }
}

.dropdown-button {
  background: var(--foreground);
  color: var(--copy);
  cursor: pointer;
  border-radius: var(--border-radius);
  border: none;
  padding: 15px 16px;
  font-size: 1rem;
}

.dropdown-menu {
  background: var(--foreground);
  border-radius: var(--border-radius);
  z-index: 100;
  flex-direction: column;
  min-width: 200px;
  padding: 8px 0;
  display: flex;
  position: absolute;
  top: 55px;
  left: 15px;
  box-shadow: 0 4px 10px #00000026;
}

.dropdown-item {
  color: var(--copy);
  text-align: center;
  cursor: pointer;
  background: none;
  border: none;
  padding: 10px 15px;
}

.dropdown-item:hover {
  background: var(--primary-light);
  color: var(--foreground);
}

.class-select-container {
  z-index: 3;
  width: 300px;
  max-height: 200px;
  color: var(--copy-lighter);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  flex-direction: column;
  display: flex;
  position: relative;
}

.selected-class {
  background: var(--foreground);
  border: 1px solid var(--primary);
  text-align: center;
  cursor: pointer;
  z-index: 10;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
}

.project-main {
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

.project-grid {
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  display: flex;
}

.project-child {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
}

.project-child img {
  border-radius: var(--border-radius);
  object-fit: cover;
  width: clamp(275px, 60vw, 350px);
  height: auto;
}

.project-child p {
  text-align: center;
}

.project-parent {
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  display: flex;
}

.project-child-with-picture {
  width: 45%;
  height: auto;
}

.project-child-full-screen {
  width: 100%;
  height: auto;
}

@media (max-width: 850px) {
  .project-parent {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    display: flex;
  }

  .project-child {
    width: 95%;
  }
}

/*# sourceMappingURL=src_app_1ae5eda5._.css.map*/