/* Container for the entire navbar */
.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 25px;
    background-color: var(--foreground);
    box-shadow: var(--box-shadow);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Shared styling for child elements */
  .navbar-child {
    display: flex;
    align-items: center;
  }

  .navbar-child button {
    width: 96px;
    padding: 10px;
    background: var(--foreground);
  }
   
  /* Style for the logo image */
  .logo {
    border: 1px solid var(--border);  /* Apply border to the image */
    border-radius: var(--border-radius);
    padding: 1rem, 0, 1rem,0;
    width: 50px;
  }
  
  /* Container for the nav links */
  .links-container {
    gap: 25px;
  }
  .links-container p {
   font-size: 16px;
  }
  
  /* Responsive behavior */
  @media screen and (max-width: 600px) {
    .links-container{
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 5px;
      right: 25px;
      width: 110px;
      background: var(--foreground);
      border: 1px solid var(--border);
      gap: 3.5px;
      padding: 2px;
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow);
      overflow: hidden;
      max-height: 43.5px; 
      transition: max-height 0.3s ease-in-out;
    }
    .links-container:hover {
      max-height: 200px; 
  }

  .navbar-link {
    display: none;
}

.navbar-link:first-child {
    display: block; 
}

.links-container:hover {
    max-height: 200px;
}

.links-container:hover .navbar-link {
    display: block;
}

  }

  