/* Container for the entire navbar */
.navbar-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 25px;
    background-color: var(--foreground);
    box-shadow: var(--box-shadow);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Shared styling for child elements */
  .navbar-child {
    display: flex;
    align-items: center;
  }

  .navbar-child button {
    width: 110px;
    padding: 10px;
    background: var(--foreground);
  }
   
  /* Style for the logo image */
  .logo {
    border: 1px solid var(--border);  /* Apply border to the image */
    border-radius: var(--border-radius);
    padding: 1rem, 0, 1rem,0;
    width: 50px;
  }
  
  /* Container for the nav links */
  .links-container {
    gap: 1px;
  }
  .nav-line1 {
    display: none;
    width: 50%;
    margin-top: .75rem;
    margin-bottom: 0rem;
   }
   .nav-line2 {
    display: none;
    width: 75%;
    margin-top: 0rem;
    margin-bottom: 0rem;
   }
   .nav-line3 {
    display: none;
    width: 50%;
    margin-top: 0rem;
    margin-bottom: .75rem;
   }

  .links-container p {
   font-size: 16px;
  }
  
  /* Responsive behavior */
  @media screen and (max-width: 600px) {
    .links-container{
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 5px;
      right: 25px;
      width: 125px;
      background: var(--foreground);
      border: 1px solid var(--border);
      gap: 4px;
      padding: .25rem;
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow);
      overflow: hidden;
      max-height: 47px; 
      transition: max-height 0.3s ease-in-out;
    }
    .links-container:hover {
      max-height: 225px; 
  }

  .navbar-link {
    display: none;
}

.navbar-link:first-child {
    display: block; 
}
.nav-line1 {
  display: block; 
}
.nav-line2 {
  display: block; 
}
.nav-line3 {
  display: block; 
}

  }

  