.pdf {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: var(--foreground-blur);
    z-index: 10;
    padding-top: 35px;
  }

  .pdf-header {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    gap: 10px;
    position: fixed;
    z-index: 15;
    top: 0;
    right: 15px;
    padding: 1rem;
  }

  .pdf-close {
    cursor: pointer;
    font-size: 24px;
    color: var(--copy);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
    box-shadow: var(--box-shadow);
    background: var(--background);
    width: 60px;
  }

  .pdf-download {
    cursor: pointer;
    font-size: 24px;
    color: var(--copy);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
    box-shadow: var(--box-shadow);
    background: var(--background);
    width: 60px;

  }
  
  .pdf-container {
    position: relative;
    width: 90%; 
    max-width: 800px;  
    max-height: 90%;      
    overflow: auto;        
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .pdf-container::-webkit-scrollbar {
    display: none;
  }
  

  .pdf-container-document {
    width: 100%;         
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius);  
  }
  
  .pdf-container-document div {
    margin-bottom: 1rem;
    
  }
  